@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides((
   filled-container-color: white,
  ));
}

mat-form-field {
  width: 300px;
}

form {
  align-items:    center;
  display:        flex;
  flex-direction: row;
  gap:            20px;
}
