@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides((
   outlined-container-shape: 30px,
  ));
}

form {
  display:         flex;
  flex-direction:  row;
  gap:             16px;
  max-width:       600px;
}

mat-form-field {
  align-items: center;
  display:     flex;
  flex:        1;
  height:      56px;
}

button {
  align-self: center;
  padding:    0 16px;
}
