.section-wrapper {
  align-items:     center;
  background:      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://artsci.washington.edu/sites/default/files/2022-11/night_sky_by_ryan_hutton_hero_2080x780.jpg");
  display:         flex;
  justify-content: center;
  margin:          0;
  min-height:      450px;
  padding:         25px;
}
