@use '@angular/material' as mat;

:host {
  display:        flex;
  flex-direction: column;
  height:         100vh;

  @include mat.toolbar-overrides((
   container-background-color: var(--primary),
  ));
}

.logo-text {
  cursor:      pointer;
  font-size:   1.5rem;
  font-weight: bold;
}

.main-content {
  flex: 1;
}

.footer {
  padding:    15px;
  text-align: right;
}
