@use '@angular/material' as mat;

:host {
  display:        flex;
  flex-direction: column;
  height:         100vh;

  @include mat.toolbar-overrides((
   container-background-color: var(--mat-sys-primary),
   container-text-color: var(--mat-sys-on-primary)
  ));
}

mat-toolbar {
  padding: 0 30px;

  * {
    vertical-align: middle;
  }

  .logo-text {
    cursor:      pointer;
    font-size:   1.5rem;
    font-weight: bold;
  }

  .horizontal-spacer {
    flex: 1 1 auto;
  }
}

main {
  flex: 1;
}

footer {
  background: var(--mat-sys-tertiary);
  color:      var(--mat-sys-on-tertiary);
  margin-top: 30px;
  min-height: 15px;
  padding:    15px;
  text-align: right;
}
