@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
   typography: Roboto,
   density: 0
  ));
}

body {
  background: var(--mat-sys-background);
  color:      var(--mat-sys-on-background);
  margin:     0;
}

h2 {
  font-size:   24px;
  font-weight: normal;
}

p {
  font-size:   18px;
  line-height: 1.6;
}

img {
  border-radius: 8px;
}