.hero-content {
  align-items:    center;
  color:          white;
  display:        flex;
  flex-direction: column;
  text-align:     center;

  h1 {
    font-size: 55px;
    margin:    10px 20px;
  }

  p {
    margin: 18px 20px;
  }
}

.feature-content {
  display:         flex;
  flex-wrap:       wrap;
  gap:             100px;
  justify-content: center;
}

.about-content {
  display: flex;

  img {
    border-radius: 8px;
    height:        500px;
    margin:        20px;
    width:         500px;
  }

  p {
    margin: 20px;
  }
}

