<app-hero-section>
  <div class="hero-content">
    <h1>Pitt-Google Astronomy Broker</h1>
    <p>Select a table below to preview recent data and alerts.</p>
    <app-dataset-form (formSubmit)="handleFormSubmit($event)"/>
  </div>
</app-hero-section>

<app-content-section>
  <div class="feature-content">
    <app-feature-card
      href="about" icon="info_outline" title="About the Project"
      description="Learn more about the Rubin LSST Survey and the Pitt-Google Broker project."
    />

    <app-feature-card
      href="data" icon="rocket_launch" title="Getting Started"
      description="Learn about the data products provided by PGB, their schema, etc."
    />

    <app-feature-card
      href="gcp" icon="cloud_queue" title="Running in GCP"
      description="Learn how to take full advantage of LSST data products in the cloud."
    />
  </div>
</app-content-section>

<app-content-section>
  <h1>A Snapshot of the Stars</h1>
  <div class="about-content">
    <img
      alt="LSST Camera Image"
      src="https://www.lsst.org/sites/default/files/photogallery/Facility_CU_Nite-full.jpg"
    >
    <div class="about-content-text">
      <p> The <strong>Legacy Survey of Space and Time</strong> (LSST) is a revolutionary astronomical survey that will
        generate an unprecedented volume of data using the <strong>Vera C. Rubin Observatory</strong>. Over ten years,
        LSST will capture billions of celestial objects in repeated wide-field observations, creating a vast dataset to
        explore dark matter, dark energy, and time-variable phenomena in the universe. With its high-cadence imaging,
        LSST will produce a continuous stream of alerts, detecting transient events such as supernovae, variable stars,
        and near-Earth asteroids. Managing and analyzing this immense data flow requires advanced tools to identify and
        prioritize significant discoveries efficiently.
      </p>
      <p> The <strong>Pitt-Google Broker</strong>, developed through a collaboration between Google and the University
        of Pittsburgh, is designed to process and analyze LSST alerts in real time. Built on Google Cloud, it leverages
        machine learning and scalable computing to filter and classify transient events, helping astronomers quickly
        determine which detections warrant further study. With advanced querying and data processing capabilities, the
        broker allows researchers to track and investigate astrophysical phenomena with greater speed and precision. By
        enabling rapid analysis and follow-up, the Pitt-Google Broker plays a crucial role in maximizing the scientific
        impact of LSST’s groundbreaking observations.
      </p>
    </div>
  </div>
</app-content-section>

<app-content-section>
  <h1>Data Guidelines and Attribution</h1>
  <p>
    Restrictions/permissions on data usage and guidelines for project attribution.
  </p>
</app-content-section>
