<app-hero-section>
  <div class="hero-content">
    <h1>Pitt-Google Astronomy Broker</h1>
    <p>Select a table below to preview recent data and alerts.</p>
    <app-dataset-form (formSubmit)="handleFormSubmit($event)"/>
  </div>
</app-hero-section>

<app-content-section>
  <div class="feature-content">
    <app-feature-card href="about">
      <mat-icon class="feature-icon" aria-hidden="false" aria-label="Info icon" fontIcon="info_outline"></mat-icon>
      <h2>About the Project</h2>
      <p>Learn more about LSST and the Pitt-Google Broker project.</p>
    </app-feature-card>

    <app-feature-card href="data">
      <mat-icon class="feature-icon" aria-hidden="false" aria-label="Rocket icon" fontIcon="rocket_launch"></mat-icon>
      <h2>Getting Started</h2>
      <p>Learn about the data products provided by PGB, their schema, etc..</p>
    </app-feature-card>

    <app-feature-card href="gcp">
      <mat-icon class="feature-icon" aria-hidden="false" aria-label="Cloud icon" fontIcon="cloud_queue"></mat-icon>
      <h2>Running in GCP</h2>
      <p>Learn how to take full advantage of LSST data products in the cloud.</p>
    </app-feature-card>
  </div>
</app-content-section>

<app-content-section>
  <h1 section-title>A Snapshot of the Stars</h1>
  <p>
    The <strong>Legacy Survey of Space and Time (LSST)</strong> is a groundbreaking astronomical survey that will
    capture an unprecedented view of the universe. Using the state-of-the-art <strong>Vera C. Rubin Observatory</strong>,
    LSST will collect vast amounts of data — billions of celestial objects imaged over a decade — unlocking the
    mysteries of dark matter, dark energy, and the dynamic night sky. To help researchers process this enormous data
    set, the <strong>Pitt-Google Broker</strong>, developed as a collaboration between Google and the University of
    Pittsburgh, provides powerful tools for filtering, classifying, and analyzing LSST alerts in real time. Leveraging
    <strong>Google Cloud</strong> and machine learning, the Pitt-Google broker enables astronomers to rapidly identify
    and follow up on transient events such as supernovae, variable stars, and asteroids.
  </p>
</app-content-section>

<app-content-section>
  <h1 section-title>Data Guidelines and Attribution</h1>
  <p>
    Restrictions/permissions on data usage and guidelines for project attribution.
  </p>
</app-content-section>
