<app-hero-section/>

<app-content-section>
  <h1 section-title>A Snapshot of the Stars</h1>

  <p>
    The <strong>Rubin Observatory Legacy Survey of Space and Time (LSST)</strong> is a groundbreaking astronomical
    survey that will capture an unprecedented view of the universe. Using the state-of-the-art <strong>Vera C. Rubin
    Observatory</strong>, LSST will collect vast amounts of data—billions of celestial objects imaged over a decade—to
    unlock the mysteries of dark matter, dark energy, and the dynamic night sky. To help researchers process this
    enormous data stream, the <strong>Pitt-Google Broker</strong>, developed at the University of Pittsburgh, serves as
    a powerful tool for filtering, classifying, and analyzing LSST alerts in real time. Leveraging <strong>Google
    Cloud</strong> and machine learning, this broker enables astronomers to rapidly identify and follow up on transient
    events such as supernovae, variable stars, and asteroids.
  </p>
</app-content-section>
