.page-title-section {
  align-items:     center;
  display:         flex;
  flex-wrap:       wrap;
  justify-content: space-between;
  margin:          20px 0;
  padding:         0 20px;
}


@media (max-width: 600px) {
  .page-title-section > * {
    flex:            1 1 100%;
    justify-content: center;
    text-align:      center;
  }
}